{% extends 'base.html' %}
{% block body_block %}
<div class="container mt-3">
  <h2 class="text fs-5 mb-3">Saved</h2>
    <div class="row mx-auto">
      {% for savedpost in savedposts %}
        <div class="img-container overflow-hidden p-0 border bg-light" style="width: 155px; height: 155px">
          <a href="{% url 'saved-post-detail' savedpost.id %}">
            <img class="w-100 h-100"
              src="{{ savedpost.saved_post.post_image.url }}"
              alt="" style="object-fit: cover; object-position: center;"/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock  %}
